<header class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="menu">
        <li class="menu__item">
          <a href="" class="menu__link menu__link--current link">о нас</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">стоимость</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">доп. услуги</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">гарантии</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">новости</a>
        </li>
      </ul>
      
      <div class="header__links">
        <a class="tel link" href="tel:080000000000">0 800 000 000 00</a>
        <a href="" class="logo">
          <img height="30" src="../images/favicon.png" alt="логотип сайта" class="logo__img">
        </a>
      </div>
    </nav>
  </div>
</header>