<footer class="footer" style="background-image: url(images/footer-bg.jpg);">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item footer__item--text">
        <p>
          Служба поддержки работает межгалактично и суборбитально
        </p>
        <p>
          График приема посетителей строго по записи
        </p>
      </div>

      <div class="footer__item">
        <ul class="footer__menu menu">
          <li class="menu__item">
            <a href="#about" class="menu__link link">о нас</a>
          </li>
          <li class="menu__item">
            <a href="#special" class="menu__link link">доп. услуги</a>
          </li>
          <li class="menu__item">
            <a href="#video" class="menu__link link">гарантии</a>
          </li>
          <li class="menu__item">
            <a href="#video" class="menu__link link">вид с мкс</a>
          </li>
        </ul>
      </div>

      <div class="footer__item">
        <address>
          <ul class="footer__menu menu">
            <li class="menu__item">
              <a href="" class="menu__link link">spacex.com</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link link">blueorigin.com</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link link">virgingalactic.com</a>
            </li>
            <li class="menu__item">
              <a href="tel:080000000000" class="menu__link menu__link--current link">0 800 000 000 00</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link link">МКС</a>
            </li>
          </ul>
        </address>
      </div>

    </div>
  </div>
</footer>