@import "global/*.scss";
@import "../components/bem-blocks/**/*.scss";

// =========  =========
body {
  background-color: #010203;
  font-family: "SFPRODISPLAY", sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}

.padding {
  padding: 100px 0;
  @include max-w($md) {
    padding: 50px 0;
  }
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.red {
  color: red;
}

.badge {
  font-size: 14px;
  color: #e5e5e5;
}

.link {
  outline: 0;
  transition: color 0.4s;

  &:focus {
    color: #5bacf8;
  }

  &:hover {
    color: #6f927d;
  }

  &:active {
    color: #630e0e;
    transition: color 0.1s;
  }
}

.btn {
  padding: 15px 45px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  transition: box-shadow 0.3s, color 0.3s;
  outline: 0;

  @include max-w($sm) {
    font-size: 14px;
    width: 100%;
    padding: 15px 20px;
  }

  &--wide {
    width: 100%;
  }

  &:focus {
    box-shadow: 4px 4px 15px 2px #6aa3cf;
  }

  &:hover {
    color: #c8c8c8;
  }

  &:active {
    box-shadow: inset 4px 4px 15px 2px #6aa3cf;
  }
}

.title {
  font-family: spaceagecyrillic, san-serif;
  font-size: 48px;
  margin-bottom: 100px;
  text-transform: uppercase;
  max-width: 600px;

  @include max-w($md) {
    font-size: 26px;
    margin-bottom: 50px;
  }

  @include max-w($sm) {
    font-size: 20px;
  }
}

.title-h3 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 30px;
}

// ========= / =========
// ========= header ============

.burger {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0;
  z-index: 100;
  display: none;

  @include max-w($lg) {
    display: block;
  }

  &__line,
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 14px;
    width: 40px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.4s, top 0.4s;
  }

  &::after {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    top: 33px;
  }

  &--close {
    .burger__line {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: translateY(-50%) rotate(315deg);
    }

    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(405deg);
    }
  }
}

.menu {
  text-transform: uppercase;
  display: flex;
  margin-right: auto;

  &__item {
    margin-right: 30px;
  }

  &__link {
    padding: 10px 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 67px 0;
  font-size: 18px;
  z-index: 50;
  transform: translateY(0);
  transition: transform 0.4s, background-color 0.2s, padding 0.3s;

  &.header--scroll {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &.header--hide {
    transform: translateY(-150%);
  }

  @include max-w($lg) {
    padding: 15px 0;
  }

  @include max-w($sm) {
    padding: 5px 0;
  }

  &__nav {
    display: flex;
    align-items: center;

    @include max-w($lg) {
      justify-content: flex-end;
    }
  }

  &__links {
    flex-basis: 390px;
    display: flex;
    align-items: center;

    @include max-w($lg) {
      flex-basis: unset;
      margin-right: 15px;
    }
  }

  &__menu {
    @include max-w($lg) {
      padding-top: 100px;
      padding-bottom: 60px;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      background-color: rgba(0, 0, 0, 0.8);
      transition: transform 0.6s;
      transform: translateX(200%) scale(0);
    }

    .menu__link {
      @include max-w($lg) {
        padding: 12px 0;
        display: inline-block;
        text-align: center;
        width: 100vw;
        margin-bottom: 5px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
    }

    &--show {
      transform: translateX(0) scale(1);
    }
  }
}

.tel {
  text-transform: uppercase;
  font-size: 24px;
  margin-right: 25px;

  @include max-w($sm) {
    font-size: 18px;
  }
}

.logo {
  display: inline-block;

  &__img {
    object-fit: contain;
  }
}

// ========= /header ============

// ========= hero ============
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 36vh;
    padding-bottom: 20px;

    @include max-w($lg) {
      padding-top: 130px;
    }
    @include max-w($md) {
      padding-top: 90px;
    }
  }

  &__info {
    max-width: 600px;
    margin-bottom: auto;
    padding-bottom: 40px;
  }

  &__title {
    font-family: "spaceagecyrillic", sans-serif;
    font-size: 60px;
    margin-bottom: 5px;
    font-size: calc(20px + 3vw);
  }

  &__big-text {
    font-size: calc(40px + 4vw);
    line-height: 0.6;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__text {
    font-size: 24px;

    &:nth-child(odd) {
      margin-right: 40px;
    }
  }

  &__descr {
    margin-left: auto;
    display: flex;
    margin-bottom: auto;
    @include max-w($sm) {
      display: block;
    }

    p {
      max-width: 165px;
      font-size: 14px;

      &:not(:last-child) {
        margin-right: 50px;
      }

      @include max-w($sm) {
        max-width: 100%;
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
}

// ========= /hero ============

// ========= about ============
.about {
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    @include max-w($lg) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:nth-child(even) {
      .about__info {
        order: -1;
      }

      .about__img {
        margin-left: 10px;
        margin-right: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    object-fit: contain;
    object-position: left top;
    margin-right: 10px;
    max-width: 45%;

    @include max-w($lg) {
      max-height: 200px;
      max-width: 100%;
    }
  }

  &__info {
    max-width: 50%;
    @include max-w($lg) {
      max-width: 100%;
      order: -1;
    }
    margin-bottom: 30px;
  }

  &__subtitle {
    display: block;
    font-size: 12px;
    color: #036cca;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
      max-width: 165px;
      margin-bottom: 30px;

      @include max-w($sm) {
        max-width: 100%;
      }
    }
  }

  &__box {
    margin-bottom: 50px;
    // overflow-x: scroll;
    // max-width: 100%;
  }

  &__description {
    display: flex;
    overflow-x: auto;
    width: 100%;
  }

  &__benefit {
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    flex-shrink: 0;

    &:first-child {
      .about__option {
        padding-left: 0;
      }
    }
  }

  &__option {
    display: block;
    border-bottom: 1px solid #ffffff;
    padding: 10px 18px;
  }

  &__stat {
    display: block;

    &:not(:last-child) {
      font-size: 14px;
    }
  }

  &__number {
    display: block;
    font-weight: 700;
    font-size: 36px;
  }

  &__event {
    display: block;
    margin-top: 20px;
  }
}

// ========= /about ============

// ========= how-happens ============

.how-happens {
  @include max-w($sm) {
    .container {
      padding: 0;
    }

    .title {
      padding: 0 15px;
    }
  }

  &__list {
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: top left;
    width: 855px;
    margin: 0 auto;
    height: 545px;
    position: relative;
    font-size: 18px;

    @include max-w($lg) {
      width: 540px;
      background-size: 290px;
      height: 380px;
    }

    @include max-w($sm) {
      width: 320px;
      background-size: 290px;
      height: 380px;
    }

    li {
      position: absolute;
    }
  }

  &__first {
    top: 0;
    left: 45px;
  }

  &__second {
    font-size: 36px;
    color: #036cca;
    top: 73px;
    left: 197px;
    @include max-w($lg) {
      top: 27px;
      left: 104px;
    }

    @include max-w($sm) {
      font-size: 30px;
    }
  }

  &__third {
    top: 175px;
    left: 245px;
    @include max-w($lg) {
      top: 89px;
      left: 130px;
    }
    @include max-w($sm) {
      top: 89px;
      left: 130px;
    }
  }

  &__fourth {
    top: 296px;
    left: 313px;
    @include max-w($lg) {
      top: 152px;
      left: 172px;
    }
  }

  &__fifth {
    text-align: right;
    width: 100px;
    top: 405px;
    left: 106px;

    @include max-w($lg) {
      top: 214px;
      left: 16px;
    }
  }

  &__sixth {
    top: 424px;
    left: 570px;
    width: 270px;

    @include max-w($lg) {
      top: 213px;
      left: 296px;
    }

    @include max-w($sm) {
      @include line-clamp;
      left: 140px;
      width: 153px;
    }
  }

  &__seventh {
    top: 559px;
    left: 407px;
    width: 140px;

    @include max-w($lg) {
      top: 329px;
      left: 165px;
    }

    @include max-w($sm) {
      top: 329px;
      left: 165px;
    }
  }
}

// ========= /how-happens ============

// ========= booking ============

.booking {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%);
    z-index: 1;
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 1.2;

    p {
      max-width: 165px;
      @include max-w($sm) {
        max-width: 100%;
      }

      &:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 30px;
      }
    }
  }
}

// ========= /booking ============

// ========= special ============

.special {
  padding-top: 100px;
  padding-bottom: 60px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include max-w($lg) {
      justify-content: center;
    }
  }

  &__item {
    flex-basis: 500px;
  }

  &__box {
    border: 1px solid #fff;
    min-height: 400px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    margin-bottom: 25px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: auto;
    font-size: 24px;
    max-width: 227px;
    font-weight: 400;
  }

  &__badge {
  }

  &__price {
    font-size: 48px;
  }

  &__btn {
    font-size: 18px;
  }
}

// ========= /special ============

// ========= services ============

.services {
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include max-w($xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    padding-top: 20px;
    font-size: 24px;
    max-width: 620px;

    @include max-w($xl) {
      margin-bottom: 160px;
    }

    @include max-w($sm) {
      font-size: 18px;
    }
  }

  &__text {
    margin-bottom: 25px;
  }

  &__list {
    margin-bottom: 25px;
  }

  &__item {
    padding-left: 35px;
    position: relative;

    &:after {
      content: "";
      background-color: #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__subtext {
    font-size: 12px;
  }

  &__buttons {
    max-width: 500px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: calc(100% - 22px);
    object-fit: contain;
  }

  &__btn {
    margin-bottom: 50px;
  }
}

// ========= /services ============

// ========= quote ============

.quote {
  &__inner {
    padding: 100px 145px;
    border: 1px solid #fff;
    @include max-w($lg) {
      padding: 60px;
    }

    @include max-w($sm) {
      padding: 20px;
    }
  }

  &__slider {
    max-width: 800px;
    margin: 0 auto;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.586);

    @include max-w($md) {
      top: 100%;
    }

    &::after {
      content: url(../images/sprite.svg#slider-arrow);
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 50;
      transform: translate(-50%, -50%) rotate(-90deg);
    }

    &--next {
      right: 15px;
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &--prev {
      left: 15px;
    }
  }

  &__img {
    object-fit: contain;
  }

  &__text {
    text-align: center;
    font-size: 24px;
    font-family: "spaceagecyrillic", sans-serif;

    @include max-w($md) {
      font-size: 14px;
    }
  }
}

// ========= /quote ============

// ========= contacts ============

.contacts {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // @include max-w($lg) {
    //   justify-content: center;
    // }
  }

  &__box {
    max-width: 500px;
    width: 100%;
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__warranty {
    max-width: 600px;
    width: 100%;
    @include max-w($xl) {
      margin-left: auto;
    }
  }

  &__text {
    font-size: 24px;
  }

  &__img {
    margin-left: auto;
  }
}

// ========= /contacts ============

// ========= form ============

.form {
  &__text {
    font-size: 24px;
    margin-bottom: 80px;
  }

  &__field {
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-size: 14px;
    display: block;
    width: 100%;
    margin-bottom: 40px;

    &::placeholder {
      color: #ccc;
    }
  }
}

// ========= /form ============

.video {
  height: 0;
  margin: 0 auto;
  @include responsive-ratio(6, 3.5);
  // max-width: 1024px;
  // padding-bottom: 41.3%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

// ========= contact-me ============

.contact-me {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 55;
  border-radius: 25px;
  padding-left: 10px;
  @include line-clamp();
  transform: translateX(-100vw);
  animation: contact-me 15s 0s 1 forwards;
  transition: width 0.3s;

  &:hover {

  }

  &__text {
    font-size: 16px;
    color: white;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    background-image: url(../images/sprite.svg#telegram);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@keyframes contact-me {
  0% {
    transform: translateX(-100vw) scale(0);
    
  }


  12% {
    transform: translateX(0) scale(1);
    width: 50px;
  }

  45% {
    transform: translateX(0);
    width: 270px;
  }

  85% {
    transform: translateX(0);
    width: 270px;
  }

  100% {
    transform: translateX(0);
    width: 50px;
  }
}

// ========= /contact-me ============
// ========= footer ============

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 100px 0 140px;

  @include max-w($md) {
    padding: 70px 0 30px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: 0;
  }

  &::after {
    top: 0;
    background-image: linear-gradient(180deg, rgb(1, 2, 3), rgba(1, 2, 3, 0));
  }

  &::before {
    background-image: linear-gradient(0deg, rgb(1, 2, 3), rgba(1, 2, 3, 0));
    bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;

    @include max-w($md) {
      justify-content: center;
    }

    @include max-w($sm) {
      justify-content: flex-start;
    }
  }

  &__item {
    max-width: 165px;
    width: 100%;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }

    p {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
      @include max-w($md) {
        width: 237px;
        margin: 0 25px 30px;
      }
    }
    @include max-w($md) {
      margin-bottom: 50px;
    }

    &--text {
      @include max-w($md) {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: unset;
      }
    }
  }

  &__menu {
    margin-top: -10px;
    display: block;

    li {
      margin-right: 0;
    }

    a {
      display: block;
    }
  }
}

// ========= /footer ============
